// *******************************************
// *******************************************

    // Styling for Accordion Component

// *******************************************
// *******************************************
//  <div class='accordion__wrapper'>
//      <div className='accordion__item'>
//          <div>
//               {Header}
//          </div>
//          {Content}
//     </div>
//  </div>
// *******************************************
// *******************************************

.accordion {

    &__panel {
        position : relative;
    }

    &__panel {
        position      : relative;
        overflow      : hidden;
        border-radius : rem-calc(3);
        margin-bottom : rem-calc(5);
        border        : 1px solid #eee;

        &__click {
            position         : relative;
                z-index      : 2;
            height           : rem-calc(40);
            cursor           : pointer;
        }

        &__header {
            position         : absolute;
                top          : 0;
                left         : 0;
                right        : 0;
                z-index      : 1;
            width            : 100%;
            height           : rem-calc(40);
            padding          : rem-calc(10);
            background-color : #f4f4f4;
        }

        &__content {
            padding    : rem-calc(10);
            background : $white;
            font-size  : rem-calc(14);
        }

    }

}
